@charset "UTF-8";
/* === Mise en page général === */
html {
  font-family: "jost";
}

body {
  margin: 0;
  padding: 0;
}

:root {
  --bleu-noir: #0a0a26;
  --jaune: #FFF372;
  --blanc: #ffffff;
  --jaune-hover: #FFCC57;
}


/* VARIABLES */
.padding-section{
  padding: 1.25em 10em 1.25em 10em;
}

.flex{
  display: flex;
}

.wrap{
  flex-wrap: wrap;
}

.flex-direction-column{
  flex-direction: column;
}

.space-between{
  justify-content: space-between;
}

.justify-content-flex-end{
justify-content: flex-end;
}

.justify-content-center{
justify-content: center;
}

.align-items-center{
  align-items: center;
}

.gap10{
  gap: 0.625em;
}

.gap40{
  gap: 2.5em;
}

.marg-bot-10{
  margin-bottom: 0.625em;
}

.w50{
  width: 50%;
}

.w33{
  width: 33.33%;
}

.w10{
  width: 10%;
}

.w20{
  width: 20%;
}

.w70{
  width: 70%;
}

.w25{
  width: 25%;
}

.w66{
  width: 66.66%;
}

.w75{
  width: 75%;
}

.w100{
  width: 100%;
}

.h100{
  height: 100%;
}

img{
  width: 100%;
}

video{
  width: 100%;
}



/* SECTIONS */
.menu{
  background-color: var(--bleu-noir);
  color: var(--blanc);
  display: flex;
  gap: 4em;
}

.box-menu{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  gap: 1em;
  align-items: center;
  a {
    display: flex;
    align-items: center;
  }
}

.footer{
  background-color: var(--bleu-noir);
  color: var(--blanc);
  display: flex;
}

.box-footer{
  width: 50%;
  display: flex;
  flex-direction: column;
}

.first-section{
  background-color: var(--jaune);
  background: linear-gradient(135deg, var(--jaune) 0%, var(--jaune-hover) 100%);
  border-bottom: solid 1px var(--bleu-noir);
  padding-top: 3.75em;
  padding-bottom: 3.75em;
}

.second-section{
  background-color: var(--blanc);
  border-bottom: solid 1px var(--bleu-noir);
  padding-top: 3.75em;
  padding-bottom: 3.75em;
}

/* -- Bloc page d'accueil -- */

.bloc-theme{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 25vh;
  padding: 10vh;
  border-bottom: solid 1px var(--bleu-noir);
  transition-duration: 300ms;
  background-color: #00012950;

}

.bloc-theme>div{
  flex-wrap: wrap;
}

.fond-image-bloc{
  background-size: cover;
  background-position: center;
}

.bloc-theme>div>.underligne{
  padding: 0.2em 0.5em 0.2em 0.5em;
  width: fit-content;
  color: var(--bleu-noir);
  transition-duration: 300ms;
  background-color: var(--jaune);
}

.bloc-theme:hover>div>.underligne{
  text-decoration: underline;
}


.bloc-theme:hover{
  background-color: #00012900;
}

.bloc-2{
  border: solid 1px var(--bleu-noir);
  border-top: 0px;
}

.bloc-3{
  background-color: var(--jaune);
  height: 25vh;
  padding: 10vh;
  border-bottom: solid 1px var(--bleu-noir);
}




/* Boutons */

.bouton-primaire{
  background-color: var(--jaune);
  border: var(--bleu-noir) solid 1px;
  padding: 0.313em 0.625em;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
  transition-duration: 300ms;
}

.bouton-primaire:hover{
  background-color: var(--jaune-hover);
}

.bouton-secondaire{
  background-color: var(--blanc);
  border: var(--bleu-noir) solid 1px;
  padding: 0.313em 0.625em;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
  transition-duration: 300ms;
}

.bouton-secondaire:hover{
  background-color: #e8e8e8;
}


/*   */


.pointillé{
  flex: 1;
  border-bottom: var(--bleu-noir) 2px dotted;
  width: max-content;
}

.formation{
  border: transparent 1px solid;
  background: 
    linear-gradient(white, white) padding-box, 
    linear-gradient(135deg, #833AB4, #FD1D1D) border-box;
  padding: 0.313em 0.625em;
  border-radius: 1.25em;
  height: fit-content;
}

.formation-special{
  background: linear-gradient(135deg, #833AB4, #FD1D1D) border-box;
}

.formation-special>p{
  color: var(--blanc);
}

.vitrine{
  border: var(--bleu-noir) solid 1px;
}


.hidden{
  display: none;
}


.icone-menu{
  display: none;
}


/* -- Mobil Section -- */


@media (max-width: 768px) {

.padding-section{
  padding: 1em 2em 1em 2em;
}


.blocs{
  flex-direction: column;
}

.blocs>a{
  width: 100%;
}

.bloc-theme{
  height: 20vh;
  padding: 2em;
}

.bloc-3{
  display: none;
}


.pointillé{
  display: none;  
}

.switch-vertical{
  flex-direction: column;
}

.align-items-flex-start{    
  align-items: flex-start;
}

.box-menu{
  gap: 0.25em;
  align-items: flex-end;
  justify-content: flex-start;
  flex-direction: column;
}

.box-menu>h5{
  display: none; 
}

.icone-menu{
  display: block;
}

.footer {
  flex-direction: column;
  padding-bottom: 2em;
}

.first-section>div>p{
  width: 100%;
}

.second-section{
  flex-direction: column;
  gap: 1em;
  padding-bottom: 2em;
  padding-top: 2em;
}

.second-section>div{
  width: 100%;
  gap: 1em;
}

.second-section>div>h2{
  margin-bottom: 0em;
}

.formation{
  padding: 0.313em 0.5em;
}

.formation>p{
  font-size: 0.75em;
}

.switch-vertical>.w50{
  width: 100%;
}

.switch-vertical>.w33{
  width: 100%;
}


}